!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pubkväll GIS-Väst

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Pubkväll GIS-Väst

      section
        h1 Trender
      section 
        h1 Open Source vs Closed Source
        ul 
          li  Closed source: Drivkraft att skapa stora system
          li Open source: Drivkraft att skapa lösningar på specifika problem
      section 
        h1 Javascript
        p NPM / Node.js 
        p Fokuserat 
      section 
        h1 Kombination 
        p Många utvecklare skriver väldigt många små projekt som löser små specifika problem
        hr
        p npm gör att det lätt att installera och kombinera dessa projekt
        br
        br
        br
        br
        p <small><em>Detta är inget nytt, det är en gammal UNIX-idé</em></small>
      section 
        h1 Leaflet
        p Fokuserat på att vara enkelt* 
        p Tar bort features istället för att lägga till
        p (flyttar till plugin istället)
        br
        br
        br
        br
        p *<small><em>jämfört med OpenLayers</em></small>
      section 
        h1 Proj4Leaflet
        p Stöd för projektioner i Leaflet av Kartena
      section 
        h1 Vad var planen?
        p
          | Vi tänkte använda Geoserver och OpenLayers. 
          | Sen åkte vi till FOSS4G i Denver. 
      section 
        h1 Professionell GIS (tung-GIS)
        h3 ESRI
      section 
        h1 Konsument-GIS (web-GIS, neo-GIS)
      section 
        h2 Vad använder Kartena?
        h4 QGIS
        h4 Geoserver
        h4 TileMill
        h4 Tilestache
        h4 Mapnik (och OGCServer)
        h4 Node (JSTS, Proj4js, geojson.io, wellknown, reproject)
      section 
        h1 Vad tror Kartena är trenden?
        h1 Javascript
        h1 Javascript
        h1 Javascript
        h1 Javascript
      section 
        h1 Proffessionell GIS flyttar till konsument-GIS
      section 
        h1 Javascript
      section 
        h1 Javascript
      section 
        h1 Javascript


      //  section
      //    h2 Syntax Highlighting
      //    h3.bullet Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //    hr
      //    // code.language-javascript
      //      //pre.
      //      //  bespoke.horizontal.from('article', {
      //      //    bullets: 'li, .bullet',
      //      //    hash: true,
      //      //    state: true
      //      //  });

      //section(data-bespoke-hash='named-route')
      //    h2 Named Route
      //    h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //    p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //  section
      //    h2.bullet Just the beginning...
      //    hr
      //    ul
      //      li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
      //      li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
      //      li Edit JavaScript in <em>'src/scripts/main.js'</em>
      //    hr
      //    ul
      //      li
      //        strong Enjoy! :)
      //        a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
